.heading{
    font-size:25px;
    margin:0px;
    width:100%;
}

.note{
    color:black;
    font-size:18px;
}

body{
    background-size:cover;
}

.div_speed{
    float:left;
}

.div_disc_img{
    width:200px;
    border-radius:100px;
}

#speed{
    font-size:18px;
    margin:15px;
}

.div_Volume{
    float:right;
}

#volume{
    font-size:18px;
    margin:15px;
}